.welcome {
  font-family: "Ideal Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.vision {
  color: #e76ece;
  font-family: "Ideal Sans";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
.lorem {
  color: black;
  font-family: "Ideal Sans";
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0px;
}

.austronaut {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 46px;
}

.cosmoimg {
  padding-top: 0px;
  text-align: center;
}

.textWel {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50.5px;
}
.welcome {
  padding-top: 0px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.vision {
  padding-bottom: 20px;
  margin-bottom: 0px;
}
.lorem {
  padding-bottom: 40px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .textWel {
    padding-left: 24px;
    padding-top: 69.5px;
  }

  .cosmoimg {
    padding-top: 44.5px;
    padding-right: 24px;
  }
  .knowledge-management {
    margin-right: 0px;
    margin-left: 0px;
  }
  .secondBlock {
    padding-right: 24px;
  }
  .austronaut {
    padding-bottom: 94.5px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1200px) {
  .textWel {
    margin-left: 0px;
    margin-right: 0px;
  }
  .welcome {
    font-family: "Ideal Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 75px;
    padding-bottom: 60px;
  }
  .austro-container {
    max-width: 1318px;
    align-items: flex-start;
    margin: auto;
    padding-bottom: 0px;
  }

  .austro-container .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .austro-container {
    padding-top: 52px;
  }

  .austro-container .textWel {
    padding-top: 68px;
    padding-left: 0px;
    max-width: 570px;
    margin-right: 0px;
  }

  .cosmoimg .img-fluid {
    padding-top: 0px;
    width: 574px;
    height: 574px;
  }
  .cosmoimg {
    text-align: end;
    padding-right: 0px;
    padding-top: 0px;
  }

  .vision {
    color: #e76ece;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.43vw;
    line-height: 1.66vw;
    font-weight: bold;
  }

  .lorem {
    color: black;
    font-family: "Ideal Sans";
    font-style: italic;
    font-size: 1.43vw;
    line-height: 1.66vw;
    font-weight: 400;
  }

  .firstBlock {
    padding-bottom: 46px;
  }
  .austronaut {
    padding-bottom: 120px;
    padding-left: 103px;
  }
}
