footer {
  background-color: #003c82;
  color: white;
}
.leftPart {
  padding-top: 50px;
  padding-left: 12px;
  padding-right: 12px;
}
.rightPart {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
}
.abLeft,
.abRight {
  padding-bottom: 20px;
  font-family: "Ideal Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
.textL,
.textR,
.created {
  font-family: "Ideal Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.13px;
  text-align: left;
  padding-bottom: 40px;
}
.contact {
  font-family: "Ideal Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1px;
  text-align: left;
  padding-bottom: 64px;
  text-transform: uppercase;
}

.aboutR {
  padding-bottom: 35px;
}
.textR {
  padding-bottom: 65px;
}
.created {
  padding-bottom: 46px;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #e76ece;
}

.contact::after {
  display: inline-block;
  content: "";
  width: 30px;
  height: 3px;
  background-color: white;
  margin-left: 21px;
  margin-bottom: 3px;
}
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: -11.5px;
}

.right {
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media (min-width: 768px) {
  footer {
    padding: 70px 36px;
  }
  .abLeft {
    padding-bottom: 18px;
    margin-bottom: 0px;
  }
  .textL {
    padding-bottom: 54px;
    margin-bottom: 0px;
  }
  .leftPart {
    padding-top: 0px;
  }
  .contact {
    padding-bottom: 54px;
  }
  .abRight {
    padding-bottom: 44px;
  }
  .created {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1400px) {
    footer {
        padding-top: 120px;
        padding-left: 285px;
        padding-right: 285px;
    }
    .abLeft, .abRight {
        padding-bottom: 40px;
    }
    .textL {
        padding-bottom: 80px;
    }
    .textR {
        padding-bottom: 105px;
        margin-bottom: 0px;   
    }
    .leftPart {
        padding-right: 62.5px;
    }
    .rightPart {
        padding-left: 62.5px;
        padding-right: 50px;
    }
}