.ids {
  font-family: "Ideal Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 86px;
  margin-bottom: 0px;
}
.idsAb {
  font-family: "Ideal Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.leftBl {
  background-color: #003c82;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
}

.secondBlock .col-12 {
  padding-right: 0px;
}

.secondBlock {
  padding-top: 50px;
  padding-bottom: 37px;
  background: linear-gradient(to right, #f0f0f0 50%, white 50%);
}

.space {
  width: auto;
}

.frontText {
  font-family: "Ideal Sans";
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 50px 20px;
  position: relative;
  top: -25.75px;
  background-color: #1996c3;
}

@media (min-width: 768px) {
  .ids {
    font-family: "Ideal Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 257px;
  }
  .idsAb {
    font-family: "Ideal Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 40px;
  }
  .leftBl {
    background-color: #003c82;
    color: white;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .secondBlock {
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 36px;
    background: #f0f0f0;
  }
  .frontText {
    top: -85px;
  }
  .secondBlock .col-12:last-child {
    padding-left: 0px;
  }
}

@media (min-width: 1200px) {
  .secondBlock {
    padding-left: 16vh;
  }
  .frontText {
    top: -249px;
    padding: 34px 115px 73px 115px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 769px;
  }
}
