.ids {
  font-family: "Ideal Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 86px;
  margin-bottom: 0px;
}
.idsAb {
  font-family: "Ideal Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.leftBl {
  background-color: #003c82;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
}

.secondBlock .col-12 {
  padding-right: 0px;
}

.secondBlock {
  padding-left: 12px;
  padding-right: 0px;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #f0f0f0 50%, white 50%);
}

.space {
  width: auto;
}

.frontText {
  font-family: "Ideal Sans";
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 50px 20px;
  position: relative;
  top: -25.75px;
  background-color: #1996c3;
}
.background-shell {
  padding: 0px;
}

@media (min-width: 768px) {
  .ids {
    font-family: "Ideal Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 257px;
    padding-right: 40px;
  }
  .idsAb {
    font-family: "Ideal Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 40px;
  }
  .leftBl {
    background-color: #003c82;
    color: white;
    padding-top: 70px;
    padding-left: 40px;
    max-height: 500px;
    flex: 1;
  }
  .secondBlock {
    padding-top: 0px;
    padding-left: 36px;
    padding-right: 36px;
    background: #f0f0f0;
    padding-bottom: 0px;
    margin-bottom: 140px;
  }
  .frontText {
    top: 205px;
    position: absolute;
  }
  .secondBlock .col-12:last-child {
    padding-left: 0px;
  }
  .background-shell {
    display: flex;
    justify-content: center;
  }
  .rightBl {
    position: relative;
    width: 388px;
    height: auto;
  }
  .back {
    position: absolute;
    width: 388px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .secondBlock {
    padding-left: 103px;
    padding: 0px;
    margin: 0;
    margin-bottom: 200px;
  }
  .rightBl {
    position: relative;
    width: 769px;
  }
  .frontText {
    top: 277px;
    padding: 34px 115px 73px 115px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 769px;
    position: absolute;
  }
  .back {
    width: 769px;
    position: absolute;
    height: 577px;
    margin-right: 0px;
  }
  .knowledge-management {
    padding-right: 0px;
  }
  .secondBlock .leftBl {
    flex: 1;
    padding-right: 40px;
    height: 540px;
    margin-left: 100px;
  }
  .background-shell {
    margin: 0;
    padding: 0;
    max-width: 1318px;
    height: 100%;
    margin: auto;
    align-content: flex-start;
  }
  .idsAb {
    padding-top: 55px;
    padding-left: 40px;
  }
  .ids {
    padding-left: 40px;
    padding-right: 40px;
    width: 300px;
  }
}
