@media (max-width: 1199px) {
  .nav {
    padding-top: 50px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: left;
    overflow: auto;
    transition: right 0.3s ease-in-out;
    z-index: 1;
  }
  .nav.active {
    right: 0;
  }
  .nav.active::before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: white;
  }
}
@media (max-width: 767px) {
  .nav:before {
    height: 52px;
  }
}
@media (min-width: 1200px) {
  .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav .menu-list {
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .nav .menu-list {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .nav .menu-list > a {
    padding: 90px 50px 0px 50px;
  }
}
@media (max-width: 767px) {
  .nav .menu-list {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .nav .menu-list > a {
    padding: 50px 30px 0px 30px;
  }
}
.nav .menu-list.is-active {
  transition: 0.4s;
  color: #e76ece;
}
.nav .menu-list.is-active:hover {
  transition: 0.4s;
  color: black;
}
@media (min-width: 1200px) {
  .nav .menu-list {
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin: 0 50px 0 50px;
    padding-left: 0px;
    text-align: center;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  padding-top: 50.5px;
  padding-bottom: 46px;
}

.welcome__item:first-child {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 40px;
}
.welcome__item:first-child .welcome__welcome {
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 40px;
}
.welcome__item:first-child .welcome__vision {
  color: #e76ece;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 30px;
}
.welcome__item:first-child .welcome__lorem {
  color: black;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.welcome__item:last-child .welcome__img {
  display: flex;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
}
.welcome__item:last-child .welcome__img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .welcome {
    flex-direction: row;
    justify-content: center;
    padding: 44.5px 36px 49px 36px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .welcome .welcome__item:first-child {
    padding-top: 25px;
  }
  .welcome .welcome__item:first-child .welcome__vision {
    padding-bottom: 30px;
  }
  .welcome .welcome__item:last-child .welcome__img {
    padding-right: 0px;
  }
  .welcome .welcome__item:last-child .welcome__img img {
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 320px;
  }
}
@media (min-width: 1200px) {
  .welcome {
    max-width: 1214.5px;
    margin: auto;
    -moz-column-gap: 70.5px;
         column-gap: 70.5px;
    padding-top: 51.5px;
    padding-left: 100px;
    padding-right: 0px;
  }
  .welcome .welcome__item:first-child {
    padding-top: 68px;
  }
  .welcome .welcome__item:first-child .welcome__welcome {
    font-size: 70px;
    font-weight: bold;
    line-height: 75px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 60px;
  }
  .welcome .welcome__item:first-child .welcome__vision {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 40px;
  }
  .welcome .welcome__item:first-child .welcome__lorem {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
  .welcome .welcome__item:last-child .welcome__img img {
    width: 574px;
    height: 574px;
  }
}
.knowledge-management {
  background: linear-gradient(to right, #f0f0f0 50%, white 50%);
}

.knowledge-management__content {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 25px 12px;
}
.knowledge-management__content .knowledge-management__left {
  background-color: #003c82;
  flex: 1;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 86px;
}
.knowledge-management__content .knowledge-management__left .knowledge-management__about {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 30px;
}
.knowledge-management__content .knowledge-management__left .knowledge-management__ids {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
.knowledge-management__content .knowledge-management__right {
  display: flex;
  flex-direction: column;
}
.knowledge-management__content .knowledge-management__right .knowledge-management__img img {
  width: 100%;
  height: 100%;
}
.knowledge-management__content .knowledge-management__right .knowledge-management__front-text {
  margin-top: -30px;
}
.knowledge-management__content .knowledge-management__right .knowledge-management__front-text .knowledge-management__sed-metus {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 50px 20px;
  background-color: #1996c3;
}

@media (min-width: 768px) {
  .knowledge-management {
    background: none;
    margin-top: 24px;
  }
  .knowledge-management::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #f0f0f0;
    width: 100%;
    height: 489px;
    z-index: -2;
  }
  .knowledge-management__content {
    flex-direction: row;
    padding-top: 0px;
    padding-left: 36px;
    padding-right: 36px;
    align-items: flex-start;
  }
  .knowledge-management__content .knowledge-management__left {
    min-width: 228px;
    max-width: 400px;
    padding: 70px 40px 257px 40px;
  }
  .knowledge-management__content .knowledge-management__left .knowledge-management__about {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .knowledge-management__content .knowledge-management__left .knowledge-management__ids {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
  }
  .knowledge-management__content .knowledge-management__right {
    flex: 1;
    min-width: 388px;
    flex-direction: column;
    display: flex;
  }
  .knowledge-management__content .knowledge-management__right .knowledge-management__front-text {
    margin-top: -85px;
    width: 100%;
  }
  .knowledge-management__content .knowledge-management__right .knowledge-management__front-text .knowledge-management__sed-metus {
    padding: 50px;
  }
}
@media (min-width: 1200px) {
  .knowledge-management::before {
    height: 540px;
  }
  .knowledge-management .knowledge-management__content {
    margin: auto;
    margin-top: 71px;
    max-width: 1214px;
    padding-right: 0px;
    padding-left: 100px;
  }
  .knowledge-management .knowledge-management__content .knowledge-management__left {
    padding: 120px 50px 233px 108.5px;
    box-sizing: border-box;
    max-width: 445px;
  }
  .knowledge-management .knowledge-management__content .knowledge-management__left .knowledge-management__about {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 40px;
  }
  .knowledge-management .knowledge-management__content .knowledge-management__left .knowledge-management__ids {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
  }
  .knowledge-management .knowledge-management__content .knowledge-management__right .knowledge-management__img {
    display: flex;
    -moz-column-gap: 0px;
         column-gap: 0px;
    justify-content: end;
  }
  .knowledge-management .knowledge-management__content .knowledge-management__right .knowledge-management__img img {
    width: 100%;
    max-width: 769px;
    max-height: 576px;
  }
  .knowledge-management .knowledge-management__content .knowledge-management__right .knowledge-management__sed-metus {
    margin-top: -190px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    padding: 85px 114px 100px 115px;
  }
}
.moon__container {
  display: flex;
  flex-direction: column;
}

.moon__main {
  display: flex;
  flex-direction: column;
}
.moon__main .moon__text {
  padding: 50px 12px;
  background-color: #d84e30;
  color: white;
}
.moon__main .moon__text .moon__h {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
.moon__main .moon__text .moon__article {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.btn-burger {
  display: none;
}
@media (max-width: 1199px) {
  .btn-burger {
    outline: none;
    border: none;
    background: none;
    display: block;
    width: 50px;
    height: 30px;
    padding-bottom: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 15;
  }
  .btn-burger::before, .btn-burger::after {
    content: " ";
  }
  .btn-burger span, .btn-burger::before, .btn-burger::after {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #e76ece;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
  }
  .btn-burger span {
    top: calc(50% - 2px);
  }
  .btn-burger::before {
    top: 0;
  }
  .btn-burger::after {
    bottom: 0;
  }
  .btn-burger.active::before {
    background-color: black;
    top: 13px;
    transform: rotate(135deg);
  }
  .btn-burger.active span {
    opacity: 0;
    left: -60px;
  }
  .btn-burger.active::after {
    background-color: black;
    top: 13px;
    transform: rotate(-135deg);
  }
}
@media (max-width: 767px) {
  .btn-burger {
    width: 36px;
    height: 24px;
    padding-bottom: 10px;
  }
  .btn-burger span, .btn-burger::before, .btn-burger::after {
    height: 3px;
  }
  .btn-burger span {
    top: calc(50% - 1.5px);
  }
  .btn-burger.active::after {
    top: 11px;
  }
  .btn-burger.active::before {
    top: 11px;
  }
}

.body.active {
  overflow: hidden;
}

.header {
  background-color: white;
  flex: 1;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}
.header .header-container {
  margin: auto;
  max-width: 1680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20.5px 60px 20.5px 47px;
}
@media (max-width: 1199px) {
  .header .header-container {
    padding: 10px 30px 10px 36px;
  }
}
@media (max-width: 767px) {
  .header .header-container {
    padding: 8px 20px 6px 6.5px;
  }
}

.logo img {
  position: relative;
  z-index: 5;
  height: 68px;
}
@media (max-width: 1199px) {
  .logo img {
    position: relative;
    z-index: 5;
    height: 52px;
    width: 80px;
  }
}
@media (max-width: 767px) {
  .logo img {
    width: 58px;
    height: 38px;
  }
}

a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
}
a:hover {
  transition: 0.2s;
  color: #e76ece;
}

.page {
  transition: 0.3s;
}

.btn {
  display: flex;
  justify-content: left;
  border: none;
  background: transparent;
  background-color: none;
}
@media (max-width: 1199px) {
  .btn {
    padding-top: 90px;
    padding-left: 50px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .btn {
    padding-top: 50px;
    padding-left: 30px;
  }
  .btn a {
    font-size: 26px;
  }
}
.btn .download-link {
  align-items: center;
  justify-content: start;
  color: white;
  background-color: #e76ece;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}
.btn .download-link:hover {
  transition: 0.4s;
  color: black;
}
@media (max-width: 1199px) {
  .btn .download-link {
    font-size: 30px;
  }
}

@font-face {
  font-family: "Ideal Sans Book";
  src: url("/fonts/IdealSans-BookItalic.woff2") format("woff2"), url("/fonts/IdealSans-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ideal Sans Book";
  src: url("/fonts/IdealSans-Book.woff2") format("woff2"), url("/fonts/IdealSans-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Ideal Sans Book";
}