$font: "Ideal Sans";
$pink: #e76ece;

.btn {
  display: flex;
  justify-content: left;
  border: none;
  background: transparent;
  background-color: none;

  @media (max-width: 1199px) {
    padding-top: 90px;
    padding-left: 50px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 50px;
    padding-left: 30px;
    a {
      font-size: 26px;
    }
  }

  .download-link {
    align-items: center;
    justify-content: start;
    color: white;
    background-color: $pink;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;

    &:hover {
      transition: 0.4s;
      color: black;
    }

    @media (max-width: 1199px) {
      font-size: 30px;
    }
  }
}
