.knowledge-management {
    background: linear-gradient(to right, #f0f0f0 50%, white 50%);
}

.knowledge-management__content {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 25px 12px;

    .knowledge-management__left {
        background-color: #003c82;
        flex: 1;
        color: white;
        padding-top: 50px;
        padding-left: 20px;
        padding-bottom: 86px;

        .knowledge-management__about {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 30px;
        }

        .knowledge-management__ids {
            font-size: 28px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    .knowledge-management__right {
        display: flex;
        flex-direction: column;

        .knowledge-management__img {
            img {
                width: 100%;
                height: 100%;
            }
        }

        .knowledge-management__front-text {
            margin-top: -30px;

            .knowledge-management__sed-metus {
                color: white;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                padding: 50px 20px;
                background-color: #1996c3;
            }
        }
    }
}

@media (min-width: 768px) {
    .knowledge-management {
        background: none;
        margin-top: 24px;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            background-color: #f0f0f0;
            width: 100%;
            height: 489px;
            z-index: -2;
        }
    }
    .knowledge-management__content {
        flex-direction: row;
        padding-top: 0px;
        padding-left: 36px;
        padding-right: 36px;
        align-items: flex-start;
        .knowledge-management__left {
            min-width: 228px;
            max-width: 400px;
            padding: 70px 40px 257px 40px;

            .knowledge-management__about {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
            }

            .knowledge-management__ids {
                font-size: 28px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0px;
                text-align: left;
            }
        }

        .knowledge-management__right {
            flex: 1;
            min-width: 388px;
            flex-direction: column;
            display: flex;

            // .knowledge-management__img {
            // }
            .knowledge-management__front-text {
                margin-top: -85px;
                width: 100%;
                .knowledge-management__sed-metus {
                    padding: 50px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .knowledge-management {
        &::before {
            height: 540px;
        }
        .knowledge-management__content {
            margin: auto;
            margin-top: 71px;
            max-width: 1214px;
            padding-right: 0px;
            padding-left: 100px;
            .knowledge-management__left {
                padding: 120px 50px 233px 108.5px;
                box-sizing: border-box;
                max-width: 445px;
                .knowledge-management__about {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding-bottom: 40px;
                }
                .knowledge-management__ids {
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 40px;
                    letter-spacing: 0px;
                    text-align: left;
                    // padding-right: 100px;
                }
            }
            .knowledge-management__right {
                .knowledge-management__img {
                    display: flex;
                    // flex: 1;
                    column-gap: 0px;
                    justify-content: end;
                    img {
                        width: 100%;
                        max-width: 769px;
                        max-height: 576px;
                    }
                }

                .knowledge-management__sed-metus {
                    margin-top: -190px;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding: 85px 114px 100px 115px;
                }
            }
        }
    }
}
