@import "_vars";

.slider__container {
    .slider__btn-container {
        display: none;
    }

    @media (min-width: 768px) {
        .slider__btn-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 70px;
            position: relative;
            z-index: 3;

            &::after {
                position: absolute;
                content: "";
                height: 1px;
                background: linear-gradient(to right, #f8f8f817, #fcfcfc);
                width: 100vw;
                top: 5.5px;
                right: -36px;
                z-index: -1;
            }

            .btn-wrap {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                align-items: center;

                .btn-slider {
                    background-color: $white;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    border: none;
                    transition: 0.5s;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                }

                &.active {
                    .btn-slider {
                        transition: 0.5s;
                        background-color: $pink;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        margin: auto;
        max-width: 1214px;
        .slider__btn-container {
            margin-left: 10px;
            &::after {
                width: 110%;
                right: -36px;
                // left: -50px;
            }
            // .btn-wrap:last-child {
            //     position: relative;
            //     &::after {
            //         position: absolute;
            //         content: "";
            //         width: 100%;
            //         height: 1px;
            //         background: white;
            //         top: 5.5px;
            //         left: 100%;
            //     }
            // }
        }
    }
}
// }

.render-wrap {
    overflow: hidden;
    @media (min-width: 768px) {
        position: relative;
        overflow: hidden;

        .slider__render {
            top: 0;
            position: absolute;
            opacity: 0;

            .slider__svg-block {
                opacity: 0;
                transition: 0.8s linear;
            }

            .img-render-block {
                img {
                    opacity: 0;
                    position: absolute;
                    transition: 0.8s;
                }
            }

            &.active {
                opacity: 1;
                display: flex;
                flex-direction: row;

                .slider__svg-block {
                    transition: 0.8s linear;
                    opacity: 1;
                }

                .img-render-block {
                    img {
                        opacity: 1;
                        border-radius: 0px 0px 3px 3px;
                        transition: 0.8s;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        margin-left: 52px;
        .slider__render {
            min-height: 536px;
            &.active {
                .img-render-block {
                    img {
                        border-radius: 0px 0px 6px 6px;
                    }
                }
            }
        }
    }
}
