.slider {
    background: $nude-blue;
    color: $white;
    padding: 50px 12px;
    padding-bottom: 0px;

    @media (min-width: 768px) {
        padding: 0;
        padding: 70px 36px;
    }

    @media (min-width: 1200px) {
        padding: 120px 36px 120px 36px;
    }
}

.slider__render {
    .slider__img-block {
        display: none;
    }

    h2 {
        font-family: Mercury Text G2;
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 16px;
        font-weight: 400;
        font-style: bold;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
    }

    p {
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 40px;
    }

    .slider__read-more {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 1px;
        text-align: left;
        padding-bottom: 64px;
        text-transform: uppercase;
        color: $white;
    }

    .slider__svg-block {
        img {
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
        }
    }

    .slider__fake-btn {
        padding-bottom: 18.5px;
        margin-bottom: 40.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, #f8f8f817 9%, #fcfcfc 91%) 1;

        h5 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
        }

        div {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $pink;
        }
    }

    .slider__svg-block img {
        width: 60px;
        height: 60px;
    }

    @media (min-width: 768px) {
        align-items: center;
        column-gap: 64px;
        width: 100%;
        justify-content: space-between;

        .slider__read-more {
            padding-bottom: 0px;
        }

        .slider__fake-btn {
            display: none;
        }

        .slider__svg-block {
            max-width: 38vw;
        }

        .slider__img-block {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;

            .img-render-block {
                display: flex;
                flex-direction: column;
                gap: 0px;
                justify-items: end;
                align-items: center;
                z-index: 2;

                figure {
                    position: relative;
                    background: #e1e3e8;
                    padding-top: 10px;
                    border-radius: 3px;
                    width: 335px;
                    height: 200px;

                    &::before {
                        content: "";
                        background: blue;
                        position: absolute;
                        top: 4px;
                        left: 20px;
                        width: 2px;
                        height: 2px;
                        transform: rotate(90deg);
                        background-color: #fbb316;
                        border-radius: 50%;
                        box-shadow: 0 0 0 2px #fbb316, 0 11px 0 2px $dark-orange, 0 -11px 0 2px $green;
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: calc(100% - 10px);
                    }
                }
            }

            .slider__back {
                display: none;
            }

            .slider__back768 {
                display: block;
                position: absolute;
                z-index: 0;
                padding-bottom: 0px;
                img {
                    max-width: 100%;
                    height: auto;
                    border-bottom: 6px solid #009fd6;
                }
            }
        }
    }
    @media (min-width: 1200px) {
        column-gap: 85px;
        width: 100%;
        .slider__svg-block {
            img {
                width: 90px;
                height: 90px;
                margin-bottom: 37px;
            }
        }

        h2 {
            font-family: Mercury Text G2;
            font-size: 32px;
            font-style: italic;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: left;
        }

        h3 {
            font-family: Ideal Sans;
            font-size: 24px;
            font-style: italic;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
        }

        h4 {
            font-family: Ideal Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: left;
        }

        p {
            font-family: Helvetica;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: left;
        }

        .slider__img-block {
            .img-render-block {
                display: flex;
                flex-direction: column;
                gap: 0px;
                justify-items: end;
                align-items: center;
                z-index: 2;

                figure {
                    padding-top: 22px;
                    border-radius: 6px;
                    width: 690px;
                    height: 418px;

                    &::before {
                        content: "";
                        background: blue;
                        position: absolute;
                        top: 10px;
                        left: 27px;
                        width: 4px;
                        height: 4px;
                        transform: rotate(90deg);
                        background-color: #fbb316;
                        border-radius: 50%;
                        box-shadow: 0 0 0 2px #fbb316, 0 15px 0 2px $dark-orange, 0 -15px 0 2px $green;
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: calc(100% - 22px);
                    }
                }
            }

            .slider__back768 {
                display: none;
            }

            .slider__back {
                display: block;
                position: absolute;
                z-index: 0;
                padding-bottom: 0px;

                img {
                    max-width: 100%;
                    height: auto;
                    border-bottom: 7px solid #009fd6;
                }
            }
        }
    }
}

.slider__main {
    h2 {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 40px;
    }

    .slider__text {
        h3 {
            font-family: Mercury Text G2;
            font-size: 18px;
            font-style: italic;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 40px;
        }

        p {
            font-family: Ideal Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 50px;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        column-gap: 64px;
        margin-bottom: 70px;

        h2 {
            flex: 5;
        }

        .slider__text {
            flex: 6;
        }
    }

    @media (min-width: 1200px) {
        margin: auto;
        max-width: 1110px;
        margin-bottom: 35px;

        h2 {
            max-width: 343px;
            flex: auto;
            font-family: Helvetica;
            font-size: 32px;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: left;
        }

        .slider__text {
            flex: auto;
            max-width: 540px;

            h3 {
                font-family: Mercury Text G2;
                font-size: 22px;
                font-style: italic;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0px;
                text-align: left;
            }

            p {
                font-family: Helvetica;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0px;
                text-align: left;
            }
        }
    }
}
