$white: white;
$black: black;
$pink: #e76ece;
$deep-blue: #003c82;
$nude-blue: #266299;
$blue: #1996c3;
$orange: #f37e26;
$dark-orange: #d84e30;
$green: #8dc63f;
$cyan-gray: #eff9fd;
$gray: #f0f0f0;
$gray-circle: #fafafa;
